<article class="article-card {{ articleClass }}">
    <h3 class="article-card__title">
        <a class="article-card__link" href="#">
            Советы по доступности интерактивных элементов на мобильных устройствах
        </a>
    </h3>
    <time class="article-card__date" datetime="2019-02-04">
        4 февраля
    </time>
    <a class="article-card__author" href="#">
        Андрей Ситник
    </a>
    <img class="
            article-card__picture
            blob--{{ blobColor }}
            blob--shape-{{ blobShape }}"
        src="/images/author--placeholder.jpg"
        width="80" height="74" alt="Андрей Ситник">
</article>
