<a class="conference-link" href="#">
    <time class="conference-link__date" datetime="2020-05-12">12 мая</time>
    <span class="conference-link__title">конференция в Москве</span>
    <span class="conference-link__description">Еще одна строка</span>
</a>
