<header class="header">
    <div class="header__logo logo">
        <a class="logo__link"{% if page.url != '/' %} href="/"{% endif %}>
            <img class="logo__icon" src="/images/logo.svg" width="40" height="40" alt="Логотип Веб-стандартов">
            <p class="logo__title">
                Веб-стандарты
            </p>
            <p class="logo__tagline">
                Сообщество разработчиков
            </p>
        </a>
    </div>
    {% if page.url == '/' %}
    <ul class="header__informer informer">
        <li class="informer__item informer__item--wave">
            {%- for podcast in collections.podcast -%}
                <a class="informer__link" href={{ podcast.data.url }}>
                    <strong class="informer__meta informer__meta--wave">
                        {{ podcast.data.number }}
                    </strong>
                    <p class="informer__text">
                        {{ podcast.data.title }}
                    </p>
                    <svg class="informer__icon informer__icon--wave" viewBox="0 316.2 612 475.8" width="32" height="25">
                        <g class="informer__icon-group informer__icon--center">
                            <path d="M612.2 554.4c0 4.4-4.1 8.6-11.2 12.2-13.8 7-39 12-68.2 12-15 0-28.3 8-35.7 20.2h-78c-5.6-5.2-13.3-8.3-21.4-8.3h-13.4c-8.3 0-15.9 3.1-21.4 8.3h-114c-5.5-5.2-12.8-8.3-21.1-8.3h-13.4c-8 0-15.7 3.1-21.3 8.3h-77.7c-.7-1.2-1.5-2.4-2.3-3.6-7.6-10.3-20-16.6-33.9-16.6-24.8 0-46.8-3.5-61.2-8.9-11.4-4.3-18.2-9.6-18.2-15.3s6.8-11 18.2-15.2c14.5-5.4 36.4-8.9 61.2-8.9 13.8 0 26.2-6.8 33.9-17.3h83c5.2 3.7 11.6 5.8 18.3 5.8h13.4c6.9 0 13.2-2.1 18.3-5.8h119.7c5.2 3.8 11.6 5.9 18.5 5.8h13.4c6.6 0 13-2.1 18.2-5.8h82.4c7.6 11 20.3 17.9 34.4 17.7l.2-.3c29.2 0 54.5 4.9 68.2 12 7 3.5 11.1 7.6 11.1 12z"/>
                        </g>
                        <g class="informer__icon-group informer__icon--topleft">
                            <path d="M214.6 518.2H108.3c6.2-5.9 10.6-13.7 12.3-22.5 6.4-36.1 18.8-61.2 32.2-61.2 13.4 0 25.8 24.2 31.9 59.6 2 14.1 15.4 24.1 29.9 24.1z"/>
                        </g>
                        <g class="informer__icon-group informer__icon--topmiddle">
                            <path d="M383.4 518.2H227.9c16.4 0 29.8-12.1 30.9-28.2 5.3-87.3 20.6-155.7 39.1-170.7.8-1.1 3.1-1.1 4-2.1 1.1-1 1.1-1 2.1-1h4.2c1 1 1 1 2.1 1 1.5.3 2.9 1 4 2.1 19.8 14.8 34 82.1 39.1 170.7 1.2 15.8 14.3 28 30 28.2z"/>
                        </g>
                        <g class="informer__icon-group informer__icon--topright">
                            <path d="M503.2 518.2H397.8c14.5 0 27.9-10.2 30-24.2 7.3-35.1 18.2-59.3 31.7-59.3s25.8 25 32.2 61.2c1.5 8.7 5.6 16.4 11.5 22.3z"/>
                        </g>
                        <g class="informer__icon-group informer__icon--bottomleft">
                            <path d="M110.6 591.4h94.7c-10.6 3.2-19.1 11.8-20.7 22.8-7.3 35.1-18.4 59.3-31.9 59.3s-25.8-25-32.2-61.2c-1.2-8.2-4.8-15.3-9.9-20.9z"/>
                        </g>
                        <g class="informer__icon-group informer__icon--bottommiddle">
                            <path d="M237.3 591.4h137.8c-11.9 3.6-20.6 13.9-21.5 26.8-5.3 87.3-20.6 155.7-39.1 170.7-.8 1-3.1 1-4 2.1-1.1 1-1.1 1-2.1 1h-4.2c-1-1-1-1-2.1-1-.8 0-3.1-1.1-4-2.1-19.8-14.8-34-82.1-39.1-170.7-1.7-12.9-10-23.2-21.7-26.8z"/>
                        </g>
                        <g class="informer__icon-group informer__icon--bottomright">
                            <path d="M407.2 591.4h95.3c-5.3 5.7-9 12.8-10.5 20.8-6.4 36.1-18.8 61.2-32.2 61.2-13.4 0-25.8-24.2-31.9-59.3-1.7-11-10.2-19.5-20.7-22.7z"/>
                        </g>
                    </svg>
                </a>
            {%- endfor -%}
        </li>
        <li class="informer__item informer__item--calendar">
            {%- for conference in collections.conference -%}
                <a class="informer__link" href={{ conference.data.url }}>
                    <strong class="informer__meta informer__meta--calendar">
                        <time datetime="{{ conference.data.date | isoDate }}">
                            {{ conference.data.date | shortDate }}
                        </time>
                    </strong>
                <p class="informer__text">
                    {{ conference.data.title }}
                </p>
                <svg class="informer__icon informer__icon--calendar" viewBox="0 0 32 23" width="32" height="23">
                    <g class="informer__icon-group informer__icon--topcalendar">
                        <circle cx="20.53" cy="2.42" r="2.42"/>
                        <circle cx="29.58" cy="2.42" r="2.42"/>
                    </g>
                    <g>
                        <circle cx="2.42" cy="11.48" r="2.42"/>
                        <circle cx="11.47" cy="11.52" r="2.42"/>
                        <circle cx="20.53" cy="11.48" r="2.42"/>
                        <circle cx="29.58" cy="11.48" r="2.42"/>
                    </g>
                    <g class="informer__icon-group informer__icon--bottomcalendar">
                        <circle cx="2.42" cy="20.54" r="2.42"/>
                        <circle cx="11.47" cy="20.58" r="2.42"/>
                        <circle cx="20.53" cy="20.54" r="2.42"/>
                    </g>
                </svg>
            </a>
            {%- endfor -%}
        </li>
    </ul>
    {% endif %}
</header>
