<header class="header">
    <div class="header__logo logo">
        <a class="logo__link"{% if page.url != '/' %} href="/"{% endif %}>
            <img class="logo__icon" src="/images/logo.svg" width="40" height="40" alt="Логотип Веб-стандартов">
            <p class="logo__title">
                Веб-стандарты
            </p>
            <p class="logo__tagline">
                Сообщество разработчиков
            </p>
        </a>
    </div>
    <ul class="header__informer informer">
        <li class="informer__item informer__item--wave">
            {%- for podcast in collections.podcast -%}
                <a class="informer__link" href={{ podcast.data.url }}>
                    <strong class="informer__meta informer__meta--wave">
                        {{ podcast.data.order }}
                    </strong>
                    <p class="informer__text">
                        {{ podcast.data.title }}
                    </p>
                </a>
            {%- endfor -%}
        </li>
        <li class="informer__item informer__item--calendar">
            {%- for conference in collections.conference -%}
                <a class="informer__link" href={{ conference.data.url }}>
                    <strong class="informer__meta informer__meta--calendar">
                        <time datetime="{{ conference.data.date | isoDate }}">
                            {{ conference.data.date | shortDate }}
                        </time>
                    </strong>
                <p class="informer__text">
                    {{ conference.data.title }}
                </p>
            </a>
            {%- endfor -%}
        </li>
    </ul>
</header>
