.related-article {
    display: flex;
    padding: 16px 0 49px;
}

.related-article__heading {
    order: 1;
    display: flex;
    flex-wrap: wrap;
}

.related-article__author {
    margin-right: 16px;
}

.related-article__link {
    width: 100%;
    margin: 0 0 14px;
    font-size: 21px;
    line-height: 1.2em;
    font-weight: normal;
    color: var(--color-grey-darker);
    text-decoration: none;
}

.related-article__link:focus,
.related-article__link:hover,
.related-article__author-link:hover,
.related-article__author-link:focus {
    text-decoration: underline;
}

.related-article__link:active,
.related-article__author-link:active {
    opacity: 0.6;
}

.related-article__date,
.related-article__author-link {
    font-size: 12px;
    line-height: 1.3em;
}

.related-article__date {
    margin-right: 16px;
    color: var(--color-grey-medium);
}

.related-article__author-link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-darker);
}
