---
permalink: articles/feed/index.xml
metadata:
    title: Новости — Веб-стандарты
    description: Свежие новости Веб-стандартов
    language: ru
    url: https://web-standards.ru/articles
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ metadata.title }}</title>
        <link href="{{ metadata.url }}"/>
        <description>{{ metadata.description }}</description>
        <language>{{ metadata.language }}</language>

        {%- for article in collections.article | filterLastArticles -%}
            <lastBuildDate>{{ article.date.toUTCString() }}</lastBuildDate>
        {%- endfor -%}

        {%- for article in collections.article | reverse %}
            <item>
                <title>{{ article.data.title }}</title>
                <link href="{{ article.url | url }}"/>
                <description>
                    <![CDATA[
                        {{ article.templateContent | safe }}
                    ]]>
                </description>
                <pubDate>{{ article.date.toUTCString() }}</pubDate>
                <guid>{{ article.url | url }}</guid>
            </item>
        {%- endfor %}

    </channel>
</rss>
