---
permalink: feed.xml
metadata:
    title: Новости — Веб-стандарты
    url: https://web-standards.ru
    author:
        name: My Name
        email: myemailaddress@example.com
    feed:
        filename: feed.xml
        path: feed/feed.xml
        url: https://web-standards.ru/feed.xml
        id: https://web-standards.ru
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <link href="{{ metadata.feed.url }}" rel="self"/>
    <link href="{{ metadata.url }}"/>
    <updated>{{ collections.article | rssLastUpdatedDate }}</updated>
    <id>{{ metadata.feed.id }}</id>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    {%- for article in collections.article | reverse | filterIndexArticles %}
    {% set absolutePostUrl %}{{ article.url | url | absoluteUrl(metadata.url) }}{% endset %}
    <entry>
        <title>{{ article.data.title }}</title>
        <link href="{{ absolutePostUrl }}"/>
        <updated>{{ article.date | rssDate }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <content type="html">{{ article.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    </entry>
    {%- endfor %}
</feed>
