---
title: Теги
layout: page.njk
permalink: /articles/tags/
---

{% include 'header.njk' %}

<main class="main">
    {{ content | safe }}
    <h1 class="tags__header">Теги</h1>
    <ul class="tags__list">
        {% for tag in collections.tagList | filterArticleTag %}
            <li class="tags__item">
                <a class="tags__tag-link" href="/articles/tags/{{ tag | slug }}">{{ tag }}</a>
            </li>
        {% endfor %}
    </ul>
</main>

{% include 'aside.njk' %}
{% include 'footer.njk' %}
