---
layout: page.njk
---

{% include 'header.njk' %}

<main class="main">
    <div class="main__content article">
        <div class="article__heading-wrapper">
            <div class="article__heading">
                <h1 class="article__title">{{ title }}</h1>
                {% if source %}
                    <p class="article__source">
                        Перевод
                        «<a class="article__link" href="{{ source.url }}">{{ source.title }}</a>»
                    </p>
                {% endif %}
                <div class="article__meta">
                    <time class="article__date" datetime="{{ date | isoDate }}">
                        {{ date | ruDate }}
                    </time>
                    <ul class="article__tags">
                        {%- for tag in tags | filterArticleTag -%}
                            <li class="article__tags-item">
                                <a class="article__tags-link" href="/articles/tags/{{ tag }}">
                                    {{ tag }}
                                </a>
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
        </div>
        <div class="article__authors authors">
            <div class="authors__author">
                <img class="authors__author-avatar" src="/images/author--blue.png"
                    width="113" height="104" alt="{{ author.name }}">
                <a class="authors__author-link" href="{{ author.url }}">
                    {{ author.name }}
                </a>
            </div>

            {% if translators %}
                <p class="authors__collaborators">
                    <span class="authors__collaborators-heading">Перевод</span>
                    {%- for translator in translators -%}
                        <a class="authors__collaborators-link" href="{{ translator.url }}">
                            {{ translator.name }}
                        </a>
                    {%- endfor -%}
                </p>
            {% endif %}

            {% if editors %}
                <p class="authors__collaborators">
                    <span class="authors__collaborators-heading">Редактура</span>
                    {%- for editor in editors -%}
                        <a class="authors__collaborators-link" href="{{ editor.url }}">
                            {{ editor.name }}
                        </a>
                    {%- endfor -%}
                </p>
            {% endif %}
        </div>
        <div class="article__content content">
            {{ content | safe }}
        </div>
    </div>
    <div class="main__related-articles related-articles">
        <h2 class="related-articles__title">По теме</h2>
        <div class="related-articles__article related-article">
            <div class="related-article__heading">
                <h3 class="related-article__title">
                    Советы по доступности интерактивных элементов на мобильных устройствах
                </h3>
                <time class="related-article__date" datetime="2019-02-04">
                    4 февраля
                </time>
                <a class="related-article__author-link" href="#">
                    Андрей Ситник
                </a>
            </div>
            <div class="related-article__author">
                <img class="related-article__author-link" src="/images/author--blue.png"
                    width="80" height="74" alt="author name">
            </div>
        </div>
        <div class="related-articles__article related-article">
            <div class="related-article__heading">
                <h3 class="related-article__title">
                    Что нового в JavaScript 2019
                </h3>
                <time class="related-article__date" datetime="2019-02-04">
                    4 февраля
                </time>
                <a class="related-article__author-link" href="#">
                    Девид Нил
                </a>
            </div>
            <div class="related-article__author">
                <img class="related-article__author-link" src="/images/author--blue.png"
                    width="80" height="74" alt="author name">
            </div>
        </div>
        <div class="related-articles__article related-article">
            <div class="related-article__heading">
                <h3 class="related-article__title">
                    Доступные SVG-иконки с инлайновыми спрайтами
                </h3>
                <time class="related-article__date" datetime="2019-02-04">
                    4 февраля
                </time>
                <a class="related-article__author-link" href="#">
                    Иван Петров
                </a>
            </div>
            <div class="related-article__author">
                <img class="related-article__author-link" src="/images/author--blue.png"
                    width="80" height="74" alt="author name">
            </div>
        </div>
    </div>
</main>

{% include 'aside.njk' %}
{% include 'footer.njk' %}
